/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body{
    margin:0;
    padding:0;
}

/* ----- NavBar ----- */

.navBar{
    position: fixed;
    display: flex;
    border-bottom: 1px solid #5b5e6d;
    color: #5b5e6d;
    width:100%;
    background-color: white;
    top:0;
}

.navBar img{
    width:160px;
    margin-left: 60px;
}

.navBar ul{
    display: none;
}

.cruz{
    display: none;
}

.menuD{
    font-size: 39px;
    position:fixed;
    left:90%;
    top:2.5%;
}

/* ----- Header ----- */

.header{
    display: flex;
    flex-flow: column wrap;
    float: left;
    margin-top: 66px;
    width:70%;
    margin: 66px 20% 0 13%;
}

.header h1{
    width:50%;
    margin-left: 9%;
    font-size: 50px;
}

.header p{
    width:300px;
    margin-left: 9%;
}

.mailHeader{
    width:60%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 30px;
    padding-left: 10px;
}



/* ----- Main ----- */
 .divMain img{
    width:200px;
 }